<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head::head('Bank Accounts Manager: Home page')"></head>
<body>
<div th:replace="fragments/menu::navbar"></div>
<div class="container">
<p>Welcome, <span th:text="${unm}" class="text-info"></span>!</p>
<div class="container">
    <h2>About Us</h2>
    <p>Bank Account Manager is a web application which aim is to provide you easy way to store
        all your bank accounts history such as bank accounts details and transactions.</p>
    <p>Our admins make possible to view different banks in which you are able to open a brand new
        bank account and start cooperating with them.</p>
    <p>If you have questions or you are not sure for anything, please contact us on
        <a>bank-accounts-manager@gmail.com</a></p>
    <p>Enjoy with us!</p>
</div>
</div>
<div th:replace="fragments/foot::foot"></div>
</body>
</html>