<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head::head('Bank Account Manger: Login')"/>
<body>
<form method="POST" class="container">
    <div class="form-group">
        <label for="username">Username</label>
        <input th:value="${username}" type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Enter username" required>
        <div th:if="${#fields.hasErrors('username')}"
             class="alert alert-danger alert-dismissible fade show" data-err-alert>
            <span th:errors="${username}" class="alert-danger"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input th:value="${password}" type="password" class="form-control" id="password" name="password" aria-describedby="password" placeholder="Enter Password" required>
        <div th:if="${#fields.hasErrors('password')}"
             class="alert alert-danger alert-dismissible fade show" data-err-alert>
            <span th:errors="${password}" class="alert-danger"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
    <a class="btn btn-success" href="/auth/register">Sign Up</a>
</form>
<div th:replace="fragments/foot::foot"></div>
</body>
</html>