<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head::head('Bank Account Manager: Bank Account Transactions')"></head>
<body onload="openCloseNewTransactionForm();">
<div th:replace="fragments/menu::navbar"></div>
<h1>Accounts</h1>
<div>
    <a href="/bank-accounts" class="btn btn-primary">Back</a>
    <a th:href="@{/bank-accounts/{id}/last-ten/transactions(id=${id})}" class="btn btn-info">Last 10</a>
    <a th:href="@{/bank-accounts/{id}/last-twenty/transactions(id=${id})}" class="btn btn-info">Last 20</a>
    <a th:href="@{/bank-accounts/{id}/last-fifty/transactions(id=${id})}" class="btn btn-info">Last 50</a>
</div>
<a onclick="openCloseNewTransactionForm();" class="btn btn-primary">New Transaction</a>
<span th:text="${errorMessage}"></span>
<form th:object="${newTr}" method="POST" id="newTrForm" class="container">
    <div class="form-group">
        <label for="dateAndTime">Date</label>
        <input type="date" th:field="*{dateTime}" id="dateAndTime" name="dateAndTime" required>
    </div>
    <div class="form-group">
        <label for="recipientUsername">Recipient Username</label>
        <input type="text" th:field="*{recipient.holder.username}" id="recipientUsername" name="recipientUsername" required>
    </div>
    <div class="form-group">
        <label for="type">Transaction Type</label>
        <select th:field="*{type}" id="type" name="type" required>
            <option th:each="t : ${transactionTypes}" th:value="${t}" th:text="${t}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="money">Money</label>
        <input type="number" th:field="*{money}" id="money" name="money" required>
    </div>
    <div class="form-group">
        <label for="reason">Reason</label>
        <input type="text" th:field="*{reason}" id="reason" name="reason" required>
    </div>
    <button type="submit">Execute Transaction</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Money</th>
        <th scope="col">Reason</th>
        <th scope="col">Type</th>
        <th scope="col">Counterparty Name</th>
        <th scope="col">Recipient Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${bankAccountTransactions}">
        <td th:text="${transaction.dateTime}"></td>
        <td th:text="${transaction.money}"></td>
        <td th:text="${transaction.reason}"></td>
        <td th:text="${transaction.type}"></td>
        <td th:text="${transaction.counterparty.iban}"></td>
        <td th:text="${transaction.recipient.iban}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/foot::foot"></div>

<script>
    "use strict"
    function openCloseNewTransactionForm() {
        var newTrForm = document.getElementById('newTrForm');
        if(newTrForm.style.display === "none") {
            newTrForm.style.display = "block";
        } else {
            newTrForm.style.display = "none";
        }
    }
</script>
</body>
</html>